@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.info.legend {
  background: white;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-size: 12px;
  line-height: 18px;
}
.info.legend h4 {
  margin: 0 0 6px;
  font-size: 13px;
  font-weight: 600;
}
.info.legend img {
  vertical-align: middle;
  width: 12px;
  height: 20px;
  margin-right: 6px;
}
.leaflet-control .legend {
  background: white;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-size: 12px;
  line-height: 18px;
}
.leaflet-control .legend h4 {
  margin: 0 0 6px;
  font-size: 13px;
  font-weight: 600;
}
.leaflet-control .legend img {
  vertical-align: middle;
  margin-right: 6px;
}
.custom-cluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.school-cluster {
  background: rgba(0, 123, 255, 0.7); /* blue */
  border: 2px solid #004a99;
}

.hospital-cluster {
  background: rgba(128, 128, 128, 0.7); /* gray */
  border: 2px solid #333;
}
